{% extends "base.html"%}

{% block stylesheet%}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}

<small>Data used was last updated in 2020. Some anime shows might not have current info. (i.e. number of episodes, etc...) </small> <br>
<small>Add shows to your favorites to start getting personal recommendations. To update recommendations, log out and back in!</small>

{% if 'user' in session %}
  
  {% if 'content-flt' in session%}
    <div>
      <h2>Because you like {{show_name}}</h2>
    </div>

    <div class="top-rated-collection">

      {% for anime in similar_shows %}
      <div class="anime-show" style="padding: 0px 5px 0px 5px;">
        <div>
          <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
          <p class="anime-name">{{anime[0]}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if 'collab-flt' in session %}
  <div>
    <h2>Viewers like you also like</h2>
  </div>
  <div class="top-rated-collection">
    {% for anime in similar_usr_recs %}
    <div class="anime-show" style="padding: 0px 5px 0px 5px;">
      <div>
        <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
        <p class="anime-name">{{anime[0]}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
{% endif %}

<div>
    <h2>All Time Top</h2>
 </div>

   <div class="top-rated-collection">

     {% for anime in top_rated%}
      <div class="anime-show" style="padding: 0px 5px 0px 5px;">
        <div>
          <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
          <p class="anime-name">{{anime[0]}}</p>
        </div>
      </div>
     {% endfor %}
   </div>

{% endblock %}