{% extends "base.html"%}

{% block stylesheet%}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">{% endblock %}
{% block title %}Home{% endblock %}

{% block body %}

<div>
    <h2>All Time Top</h2>
 </div>

   <div class="top-rated-collection">

     {% for anime in top_rated%}
      <div class="'anime-show" style="padding: 0px 5px 0px 5px;">
        <div>
          <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
          <p class="anime-name">{{anime[0]}}</p>
        </div>
      </div>
     {% endfor %}
   </div>

   <h2>Top Romance</h2>
   <div class="top-rated-collection">

    {% for anime in romance%}
     <div class="'anime-show" style="padding: 0px 5px 0px 5px;">
      <div>
        <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
        <p class="anime-name">{{anime[0]}}</p>
      </div>
     </div>
    {% endfor %}
  </div>

  <h2>Top Action</h2>
  <div class="top-rated-collection">

    {% for anime in action%}
     <div class="'anime-show" style="padding: 0px 5px 0px 5px;">
       <div>
        <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
         <p class="anime-name">{{anime[0]}}</p>
       </div>
       
     </div>
    {% endfor %}
  </div>

  <h2>Top Historical</h2>
  <div class="top-rated-collection">

    {% for anime in historical%}
    <div class="'anime-show" style="padding: 0px 5px 0px 5px;">
      <div>
        <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
        <p class="anime-name">{{anime[0]}}</p>
      </div>
     </div>
    {% endfor %}
  </div>

  <h2>Top Pre 1970's</h2>
  <div class="top-rated-collection">

    {% for anime in old%}
     <div class="'anime-show" style="padding: 0px 5px 0px 5px;">
      <div>
        <a href="/show-info/{{anime[0]}}"><img src={{anime[1]}} class="show-img"></a>
        <p class="anime-name">{{anime[0]}}</p>
      </div>
     </div>
    {% endfor %}
  </div>

{% endblock %}