{% extends "base.html"%}

{% block stylesheet%}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/showinfo.css') }}">{% endblock %}
{% block title %}{{ show[1] }}{% endblock %}

{% block body %}

<h3 align="center">{{show[1]}}</h3>
<div class="show-content">
  <div>
    <img src={{show[8]}} alt="">
  </div>
  <div>
    <p class="rating">Average Rating: {{show[7]}}</p>
    <p>Ranked: {{show[6]}}</p>
    <p>Episodes: {{show[3]}}</p>
    {% if 'user' in session %}
    <form method="post">
      {% if fav_btn %}
        <button type="submit" name="add-to-favorite" value={{show[0]}}>Add to favorites</button>
      {% else %}
        <button type="submit" name="remove-favorite" value={{show[0]}}>Remove from favorites</button>
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>
<div class="quote">
  <blockquote class="blockquote text-center">
    <p class="mb-0" style="padding: 3%;">{{show[2]}}</p>
  </blockquote>
</div>

{% endblock %}