{% extends "base.html"%}

{% block stylesheet%}<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/signup.css') }}">{% endblock %}
{% block title %}Sign Up{% endblock %}

{% block body %}

<form method="post">        
    <div class="signup-forms">
        <h3 style="padding: 40px 0px 10px 0px;">Username</h3>
        <div>
            <input type="text" id="username" name="username" placeholder="Enter username" size="50" required><br>
            <small class="form-text text-muted">Must be between 5 and 20 characters. Only letters and numbers.</small>
        </div>
        <h3 style="padding: 10px 0px 10px 0px;">Password</h3>
        <div>
            <input type="password" id="password" name="password" placeholder="Enter password" size="50" required><br>
            <small class="form-text text-muted">Must be between 8 and 22 characters. Only letters and numbers.</small>
        </div>
        <h3 style="padding: 10px 0px 10px 0px;">Confirm Password</h3>
        <div>
            <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm password" size="50" required>
        </div>
        <div style="padding: 20px 0px 10px 0px;">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>  
    </div>
</form>

{% endblock %}